src
tsconfig.json
tslint.json
.prettierrc
lib/test/**
test/
*.test.*
./lib/**/*.test.d.ts
./lib/**/*.test.js
./lib/**/*.test.js.map
./lib/*.test.d.ts
./lib/*.test.js
./lib/*.test.js.map
*.test.js
*.test.js.map
*.test.d.ts